<html> 
   <head> 
      <title>success</title> 
   </head> 
   <body> 
      <p>File uploaded successfully</p> 
      <p>File Name: {{ video.title }}</p> 
   </body> 
   <video width="320" height="240" controls>
      <source src="{{ video.video_path }}" type="video/mp4">
      Your browser does not support the video tag.
  </video>
  <a href="{{ url_for('view', file=video.title) }}" download>
   <button>Download Video (Debug: {{ url_for('view', file=video.title) }})</button>
  </a>
   
  </form>
</html>
